html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.collection {
    width: 50%;
    min-height: 400px;
    box-shadow: 1px 1px 6px #ececec;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


ul {
    margin-top: 30px;
}

li {
    margin-top: 20px;
    width: 100%;
    position: relative;
    list-style-type: none;
    border-left: 2px solid #40E0D0;
    padding-left: 10px;

}